/* Disable scrolling on the body */
body {
  overflow: hidden;
}

.passage-page {
  display: flex;
  height: 90vh; 
  white-space: pre-line;
  /* overflow: auto; Enable scrolling within the passage-page */
}

.text-passage-container {
  flex: 4;
  height: 80vh;
  overflow-y: auto;
  resize: horizontal;
  border-right: 2px solid #eeeeee; /* Divider */
  padding: 2em;
  padding-bottom: 10vh;
  min-width: 200px; /* Minimum width for the resizable element */
  /* max-width: 50%; Maximum width for the resizable element */
}

.questions-list-container {
  flex: 3;
  height: 90vh;
  resize: horizontal;
  overflow-y: auto;
  padding: 2em;
}