.question-task-description {
    font-size: 1em;
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
    /* Render newline characters */
    white-space: pre-line;
}

.question-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: fit-content;
}

.multiple-choice-question {
    margin-bottom: 1em;
}