/* Disable scrolling on the body */
body {
  overflow: hidden;
  margin: 0 0;
}

.passage-page {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: 1fr 1fr; 
  height: 95vh;
  overflow: hidden;
}

.timer-frame {
  grid-row: 3;
  grid-column: 1 / span 2; 
  display: flex;
  flex-direction: row;
  height: 5vh;
  padding: auto 1em auto 1em;
  justify-items: center;
  width: 100%;
  align-items: center;
  /* border: 1px solid #ccc; */
  font-weight: bold;
  background-color: rgb(239, 239, 239); /* Background color for the navbar */
}

.timer-frame .timer{
  margin: auto 1em auto auto;
  font-size: 1.25em;
  background-color: #fff9a0;
  padding: .5em;
}

.section-info-frame {
  grid-row: 1;
  grid-column: 1 / span 2; 
  background-color: rgb(245, 245, 245); /* Background color for the navbar */
  /* z-index: 1000; Ensure it stays on top */
  margin: 0em 1em 1em 1em;
  padding: 0em 2em 0em 2em;
  font-size: small;
  max-height: 10vh;
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.passage-frame {
  grid-row: 2; /* Place in the second row */
  grid-column: 1; /* Place in the first column */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 2em;
  /* padding-bottom: 5em; */
}

.question-frame {
  grid-row: 2; /* Place in the second row */
  grid-column: 2; /* Place in the second column */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 2em;
}

h2, h3, h4, h5, h6, p, a, span, text {
  text-align: justify;
  white-space: pre-wrap;
  line-height: 1.25em;
}

.task-subtitle, .passage-context {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1em;
}

.passage-title, .passage-subtitle {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.passage-text {
  margin-bottom: 0;
  padding-bottom: 0;
}

