.questions-list {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.question-task-description {
    font-size: 1em;
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
    /* Render newline characters */
    white-space: pre-line;
}

.question-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: fit-content;
}

.multiple-choice-question {
    margin-bottom: 1em;
}

.matching-headings-question {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
  }
  
  .question-text {
    flex: 1; /* Allow the text to take up available space */
  }
  
  select {
    flex: 0; /* Prevent the select element from growing */
    margin-left: 1em; /* Add some space between the text and the select element */
  }


  .correct-answer {
    background-color: #d4edda; /* Light green */
    color: #155724;
  }

  .incorrect-answer {
    background-color: #d6d6d6; 
    color: #474747;
  }

  .correct-unselected-answer {
    background-color: #f8d7da; 
    color: #721c24;
  }
  
  /* .incorrect-answer {
    background-color: #f8d7da; 
    color: #721c24;
  }

  .correct-unselected-answer {
    background-color: #fff9a0; 
    color: #856404;
  } */

  


  #show-answers-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding: .5em;
  }

  /* Align text right */
  #correct-answers-count {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 55, 128);
    margin: 1em 0em 1em 0em;
    border: 1px solid #ccc;
    background-color: #fff9a0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  }

  .task-score {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    /* color: red; */
  }


  /* TABLE COMPLETION */

.table-completion-question-task .your-answers-text,
.note-completion-question-task .your-answers-text,
.sentence-completion-question-task .your-answers-text,
.summary-completion-question-task .your-answers-text,
.summary-completion-word-list-question-task .your-answers-text,
.flow-chart-completion-question-task .your-answers-text,
.diagram-completion-question-task .your-answers-text {
    font-weight: bold;
    margin: 2em 0em 1em 0em;
}

  .table-completion-question-item,
  .note-completion-question-item,
  .sentence-completion-question-item,
  .summary-completion-question-item,
  .summary-completion-word-list-question-item,
  .flow-chart-completion-question-item,
  .diagram-completion-question-item {
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
    /* border: 1px solid #ccc; */
  }

  .table-completion-question-item input,
  .note-completion-question-item input,
  .sentence-completion-question-item input,
  .summary-completion-question-item input,
  .summary-completion-word-list-question-item input,
  .flow-chart-completion-question-item input,
  .diagram-completion-question-item input {
    padding: .35em;
    width: 15em;
    margin: 0em 1em 0em 0em;
    text-align: center;
    border-radius: .25em;
    border: 1px solid #ccc;
  }

  .table-completion-question-item .correct-answer,
  .note-completion-question-item .correct-answer,
  .sentence-completion-question-item .correct-answer,
  .summary-completion-question-item .correct-answer,
  .summary-completion-word-list-question-item .correct-answer,
  .flow-chart-completion-question-item .correct-answer,
  .diagram-completion-question-item .correct-answer,
  .matching-headings-question-item .correct-answer,
  .matching-sentence-endings-question-item .correct-answer,
  .true-false-notgiven-question-item td.correct-answer,
  .yes-no-notgiven-question-item td.correct-answer{
    padding: .20em;
    margin: 0em 1em 0em 1em;
    background-color: #d4eddb;
    color: #148a0e;
    border-radius: 1px;
  }

  .table-completion-question-item .correct-answer-non-matching,
  .note-completion-question-item .correct-answer-non-matching,
  .sentence-completion-question-item .correct-answer-non-matching,
  .summary-completion-question-item .correct-answer-non-matching,
  .summary-completion-word-list-question-item .correct-answer-non-matching,
  .flow-chart-completion-question-item .correct-answer-non-matching,
  .diagram-completion-question-item .correct-answer-non-matching,
  .matching-headings-question-item .correct-answer-non-matching,
  .matching-sentence-endings-question-item .correct-answer-non-matching,
  .true-false-notgiven-question-item td.incorrect-answer,
  .yes-no-notgiven-question-item td.incorrect-answer{
    padding: .20em;
    margin: 0em 1em 0em 1em;
    background-color: #edd4d4;
    color: #ce0b1f;
    border-radius: 1px;
  }

  .fixed-width {
    display: inline-block;
    width: 1.5em; /* Adjust the width as needed */
  }

  .flow-chart-completion-question-task .question-img,
  .diagram-completion-question-task .question-img{
    display: flex;
    margin: 0 auto 0 auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  }

