.questions-list {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.question-task-description {
    font-size: 1em;
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
    /* Render newline characters */
    white-space: pre-line;
}

.question-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: fit-content;
}

.multiple-choice-question {
    margin-bottom: 1em;
}

.matching-headings-question {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
  }
  
  .question-text {
    flex: 1; /* Allow the text to take up available space */
  }
  
  select {
    flex: 0; /* Prevent the select element from growing */
    margin-left: 1em; /* Add some space between the text and the select element */
  }


  .correct-answer {
    background-color: #d4edda; /* Light green */
    color: #155724;
  }
  
  .incorrect-answer {
    background-color: #f8d7da; /* Light red */
    color: #721c24;
  }

  #show-answers-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding: .5em;
  }

  /* Align text right */
  #correct-answers-count {
    display: flex;
    margin-top: 1em;
    justify-content: center;


  }